nav > ul {
    display: flex;
}

nav li {
    list-style: none;
    display: inline;
    margin-right: 10px;
    padding: 2px 5px;
}

nav li:hover {
    background-color: aqua;
}

nav li a {
    text-decoration: none;
    color: black;
}
nav .dropdown{
    display: none;
}